body {
  background-color: rgb(180, 180, 180);
  font-family: "Exo", sans-serif;
}

.calculator {
  margin: 20vh auto;
  width: 323px;
  display: grid;
  padding: 2px;
  background-color: black;
  color: aliceblue;
  grid-template-columns: 80px 80px 80px 80px;
  grid-template-rows: 20px 35px 65px 65px 65px 65px 65px;
  grid-gap: 1px;
  border-radius: 1%;
}

.grey-color:hover,
.dot-btn:hover,
.darkGrey-color:hover,
.clear-btn:hover,
.equal-btn:hover {
  border-width: 0.093rem;
  border-color: rgb(109, 108, 108);
  border-style: outset;
}

.grey-color {
  background-color: rgb(133, 133, 133);
  display: flex;
  justify-content: center;
  align-items: center;
}

.darkGrey-color,
.dot-btn {
  background-color: rgb(82, 82, 82);
  display: flex;
  justify-content: center;
  align-items: center;
}

.current-calculation {
  background-color: black;
  grid-column: 1 / 5;
  text-align: end;
}

.result {
  font-size: 1.5rem;
  background-color: black;
  grid-column: 1 / 5;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.clear-btn {
  background-color: rgba(6, 94, 17, 0.842);
  grid-column: 1 / 3;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cero-btn {
  grid-column: 1 / 3;
}

.equal-btn {
  background-color: rgb(199, 119, 0);
  grid-column: 4 / 5;
  grid-row: 6 / 8;
  display: flex;
  justify-content: center;
  align-items: center;
}

.measuringDiv {
  visibility: hidden;
  font-size: 1.5rem;
  position: absolute;
  height: auto;
  width: auto;
  white-space: nowrap;
}
